@import url("https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100..900;1,100..900&display=swap");

/* font styles */
h1 {
  color: yellow;
  font-size: 48px;
}

h2 {
  margin-left: 1px;
  color: #ffc107;
  font-size: 24px;
}

h3 {
  margin-left: 0px;
  color: white;
  font-size: 16px;
}

/* root form */
body {
  margin: 0;
  padding: 0;
  font-family: "Inter", Arial, sans-serif;
  background-color: rgb(250, 250, 250);
  color: #143021;
  opacity: 0.9;
  background-size: cover;
  background-position: center;
  height: 100%;
}

.container {
  padding: 20px;
  width: 80%;
  height: 500px;
  margin: 0 auto;
}

.header {
  display: flex;
  color: white;
  justify-content: space-between;
  align-items: center;
  position: relative;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 50%, rgba(255, 255, 255, 1) 100%), url("assets/images/freetrial-background.png") no-repeat center center/cover;
  height: 25%;
}

.header::after {
  content: "";
  position: absolute;
  bottom: -25%; /* Adjust to overlap 1/4 of the main section */
  left: 0;
  width: 100%;
  height: 25%; /* Cover 1/4 of the main section */
  background: inherit; /* Use the same background as the header */
  z-index: -1;
}

.header img {
  width: 150px;
}

.header h1 {
  font-size: 60px;
  margin: 10px 0;
  color: #ffe500;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add shadow to the text */
}

.header-right {
  display: flex;
  align-items: center;
  /* Center items vertically */
}

.header-menu {
  display: none;
  /* Hidden by default */
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #ffe500;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-menu.active {
  display: block;
  /* Show the menu when active */
}

.header-menu a {
  display: block;
  padding: 10px;
  color: #143021;
  text-decoration: none;
}

.header-menu a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.header-icon {
  font-size: 24px;
  cursor: pointer;
  margin-left: 20px;
}

.coverbackground-about img {
  width: 124px;
  margin-top: 125px;
  aspect-ratio: 124 / 106;
}

.main {
  padding: 3rem 0;
  background-color: white;
  height: 250px;
}

.features {
  display: flexbox;
  align-items: center;
  text-align: left;
  margin: 20px 0;
  color: #121212;
  background-color: transparent;
}

.features-swim {
  margin: 20px 0;
  color: #fdfdfd;
  background-color: transparent;
  margin-bottom: 25px;
  border-radius: 24px;
  padding: 5px;
}

.features h1 {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  padding-left: 40px;
}

.features li {
  list-style-type: disc;
  padding-left: 20px;
  font-size: 16px;
  line-height: 2;
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  text-align: left;
}

.features i {
  color: #00ff00;
  margin-right: 10px;
}

.readable-paragraph {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.6; /* Adjust this value as needed */
  margin-bottom: 15px; /* Optional: Add space below the paragraph */
  text-align: justify;
  text-shadow: 4px 4px 8px rgb(20, 19, 19); /* Add shadow to the text */
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), inherit;
}

.form-container {
  background-color: #ffe500;
  padding: 20px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
  border-radius: 24px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 0; /* Ensure the form is above the header background */
  transform: translateY(-200px); /* Move 50px up */
}

.form-title h2 {
  color: black;
  padding-left: 10px;
  font-size: 20px;
  margin-top: 0px;
  margin-bottom: 10px;
}

.form-container h2 {
  color: black;
  padding-left: 10px;
  font-size: 20px;
  margin-bottom: 10px;
}

.form-container label {
  font-weight: bold;
  font-size: 14px;
  padding-left: 10px;
  padding-bottom: 5px;
}

.form-container p {
  padding-left: 10px;
}

.form-container select {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 25px;
  /* Set border radius to 25px */
}

.form-container input[type="text"],
.form-container input[type="email"] {
  width: calc(100% - 20px);
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 24px;
}

.checkbox-area {
  margin-bottom: 10px;
}

.checkbox-label {
  display: flex;
  align-items: center;
  margin: 5px 0;
}

.checkbox-group {
  display: flex;
  align-items: center;
}

.btn-submit {
  position: relative;
  background-color: #143021;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  /* Center items horizontally */
  padding: 10px;
  /* Padding around the text */
  border: none;
  /* No border */
  border-radius: 50px;
  /* Rounded corners */
  font-size: 16px;
  /* Font size */
  cursor: pointer;
  /* Pointer cursor on hover */
  margin-left: auto;
  /* Center the button horizontally */
  margin-right: auto;
  /* Center the button horizontally */
  width: 50%;
  /* Width of the button */
}

/* about-page */

.header-about {
  display: flex;
  color: white;
  justify-content: space-between;
  max-height: 300px;
  align-items: center;
  position: relative;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 75%, rgba(255, 255, 255, 1) 100%), url("assets/images/freetrial-background.png") no-repeat center center/cover;
}

.main-about {
  background-color: white;
  background: linear-gradient(to bottom, #ffffff, #455b4678);
}

.content-section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 20px;
}

.main-about h1 {
  font-size: 36px;
  margin-bottom: 10px;
  color: #143021;
  text-align: center;
}

.content-section img {
  display: block;
  margin: 0 auto;
  max-width: 500px;
  max-height: 500px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.content-section .text-content {
  flex: 1;
  padding: 20px;
  background-color: white;
  margin-bottom: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.content-section .text-content h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.content-section .text-content p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 10px;
  text-align: justify;
}
.content-section .text-content li {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 10px;
}

/* card */
.list {
  display: flex; /* Mengatur tata letak flex */
  flex-direction: wrap; /* Mengatur arah flex menjadi baris */
  align-items: flex-start; /* Mengatur item ke atas */
  justify-content: center; /* Mengatur item ke tengah secara horizontal */
  margin: 0 auto;
  align-items: stretch;
  padding: 20px;
  flex-wrap: nowrap; /* Menghindari pembungkusan, semua item dalam satu baris */
  overflow-x: auto; /* Mengizinkan scroll horizontal jika konten melebihi lebar */
}

.list-item {
  flex: 1 1 calc(33.33% - 30px);
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin: 15px; /* Margin di sekitar item */
  width: 300px; /* Atur lebar item */
  text-align: center;
  box-sizing: border-box;
  overflow: hidden;
  display: flex; /* Gunakan flexbox untuk tata letak */
  flex-direction: column; /* Atur arah flex menjadi kolom */
  min-height: 350px; /* Atur tinggi minimum untuk card */
}

.container-card {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  width: 100%; /* Ubah menjadi 100% agar mengisi lebar card */
}

.container-card {
  align-items: center;
}

/* @media (max-width: 768px) {
  .list-item {
    flex: 1 1 calc(50% - 30px); /* Adjust width to 1/2 minus margin for smaller screens */
/* }
} */

/* @media (max-width: 480px) {
  .list-item {
    flex: 1 1 100%; /* Full width for very small screens */
/* }
} */
*/ */ .image-card {
  width: max-content; /* Memastikan gambar mengisi lebar card */
  height: max-content; /* Atur tinggi gambar agar proporsional */
  object-fit: cover; /* Memastikan gambar tidak terdistorsi dan mengisi area */
}

.text-card {
  margin: 10px 0;
  text-align: justify;
}

.text-card li {
  padding-right: 10px;
  margin: 10px 0;
  text-align: justify;
}

.text-title-card {
  font-size: 18px;
  font-weight: bold;
  color: #333; /* Warna teks judul */
}

.text-description-card {
  font-style: italic;
  font-size: 14px;
  color: #777; /* Warna teks deskripsi */
}

/* terms */
.terms-section {
  text-align: center;
  padding: 20px;
  background-color: #f8f9fa;
}

.terms-container {
  max-width: 800px;
  margin: 0 auto;
  text-align: left;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.terms-content h3 {
  margin-top: 15px;
  color: #007bff;
}

.terms-content p {
  font-size: 14px;
  color: #555;
  text-align: justify;
}

@media (max-width: 480px) {
  .terms-container {
    width: 90%;
  }
}

/* footer */

.category-container {
  display: flex;
  /* Menggunakan flexbox untuk menempatkan item dalam satu baris */
  justify-content: space-between;
  /* Ruang antara item */
  margin-bottom: 10px;
  /* Jarak bawah */
}

.category-foot {
  flex: 1;
  /* Membuat setiap kategori mengambil ruang yang sama */
  text-align: left;
  /* Rata kiri untuk isi */
  margin-right: 20px;
  /* Jarak antara kategori */
}

.category-foot:last-child {
  margin-right: 0;
  /* Menghapus margin kanan pada kategori terakhir */
}

.contact-section {
  flex-basis: 100%;
  /* Mengatur section layanan operasional agar lebar penuh */
}

.category-info {
  padding-left: 40px;
  /* Pastikan tidak ada padding */
}

.category-info p {
  margin: 5px;
  margin-bottom: 20px;
  color: white;
  font-size: 18px;
}

.contact-info,
.operational-hours,
.government-info,
.find-us {
  margin-bottom: 40px;
}

.contact-info p {
  padding-left: 80px;
  margin-top: 0;
  margin-bottom: 5px;
}
.operational-hours p,
.government-info p,
.find-us p {
  margin-left: 40px;
  margin-top: 0;

  margin-bottom: 5px;
}

.contact-info h3 {
  margin-left: 40px;
  margin-bottom: 5px;
}

.category-header {
  display: flex;
  align-items: center;
  gap: 5px;
}

.category-icon {
  margin-left: 30px;
}

.find-us i {
  margin-right: 10px;
}

.find-us a {
  color: white;
  text-decoration: none;
}

.popup {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  display: grid;
  /* Use grid */
  place-items: center;
  /* Center the content */
}

.popup-button {
  position: relative;
  background-color: #388e3c;
  /* Dark background color */
  color: #000000;
  /* White text color */
  display: flex;
  /* Flexbox layout */
  align-items: center;
  /* Center items vertically */
  justify-content: center;
  /* Center items horizontally */
  padding: 10px;
  /* Padding around the text */
  border: none;
  /* No border */
  border-radius: 50px;
  /* Rounded corners */
  font-size: 16px;
  /* Font size */
  cursor: pointer;
  /* Pointer cursor on hover */
  margin-left: auto;
  /* Center the button horizontally */
  margin-right: auto;
  /* Center the button horizontally */
  width: 50%;
  /* Width of the button */
  margin-bottom: 35px;
}

.popup-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  /* Position relative to the popup */
  top: 50%;
  /* Center vertically */
  left: 50%;
  /* Center horizontally */
  transform: translate(-50%, -50%);
  /* Adjust to center */
  background-color: #143021;
  padding: 10px;
  width: 100%;
  max-width: fit-content;
  /* Max width */
  max-height: fit-content;
  border-radius: 12px;
  box-sizing: border-box;
}

.popup-button-ads {
  position: relative;
  background-color: #388e3c;
  color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border: none;
  border-radius: 50px;
  font-size: 16px;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: 15px;
  text-decoration: none;
  /* Menghilangkan underline */
}

.popup-button:hover,
.popup-button-ads:hover {
  background: linear-gradient(90deg, #388e3c, #66bb6a);
  transform: scale(1.05);
}

.popup-button:focus,
.popup-button-ads:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: black;
  font-size: 24px;
  font-weight: bold;
  padding: 10px;
  user-select: none;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

/* Footer Styles */
footer {
  background-color: #143021;
  /* Ubah warna latar belakang footer */
  color: white;
  /* Ubah warna teks footer */
  padding: 20px 0;
  /* Tambahkan padding */
  width: 100%;
}

.map {
  padding-left: 40px;
  border-radius: 10px;
  box-sizing: border-box; /* Include border in the element's total width and height */
}
.close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 24px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  z-index: 10;
}

.close-popup:hover {
  color: #ff0000; /* Warna merah saat hover */
}

.page-content {
  padding: 20px;
  min-height: calc(100vh - 40px); /* Adjust height to avoid overflow */
  justify-content: center;
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
  margin-bottom: 10px;
  overflow: hidden; /* Prevent overflow */
}
.page-content-card {
  display: contents;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  min-height: calc(100vh - 40px); /* Adjust height to avoid overflow */
  justify-content: center;
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
  margin-bottom: 10px;
  overflow: hidden; /* Prevent overflow */
}

.page-content img {
  display: inline-block;
  width: 33%;
  height: auto;
}

.find-us-info {
  padding-left: 40px;
}

/* faq */
.faq-container {
  max-width: 700px;
  margin: auto;
  background: linear-gradient(to bottom, #6dc403e5, #39751e);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.faq-container h1 {
  font-size: 24px;
  text-align: center;
}

.accordion {
  margin-top: 20px;
}

.accordion-item {
  border-bottom: 1px solid #ddd;
  position: relative;
}

.accordion-link::after {
  content: "\25BC"; /* Unicode for down arrow */
  font-size: 16px;
  position: absolute;
  right: 20px;
  transition: transform 0.3s;
  transform: rotateX(180deg); /* Rotate arrow */
}

.accordion-link.active::after {
  transform: rotate(180deg); /* Rotate arrow when active */
  content: "\25B2"; /* Unicode for up arrow */
}

.accordion-link {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #333;
  background: #f9f9f9;
  transition: background 0.3s;
}

.accordion-link:hover {
  background: #e9e9e9;
}

.accordion-pane {
  display: none;
  padding: 15px;
  background: #f1f1f1;
}
.accordion-pane p {
  text-align: justify;
}

.accordion-link.active + .accordion-pane {
  display: block;
}

/* Media Queries for Responsiveness */
@media (max-width: 480px) {
  /* header */
  .header h1 {
    font-size: 30px;
    /* Sesuaikan ukuran font untuk mobile */
  }

  .container {
    width: 90%;
    height: 500px;
  }

  .features h1 {
    padding-left: 27.5px;
    font-size: 12px;
  }

  .features li {
    display: flexbox;
    align-items: center;
    text-align: left;
    font-size: 12px; /* Adjust the indentation */
    padding-left: 10px;
  }

  h1 {
    font-size: 30px;
    /* Sesuaikan ukuran font untuk mobile */
  }

  /* card */
  .list {
    flex-direction: column; /* Ubah menjadi kolom pada layar kecil */
    align-items: center;
    overflow: hidden;
  }

  .list-item {
    width: 90%; /* Lebar item lebih kecil pada layar kecil */
    margin: 10px 0; /* Margin vertikal untuk item */
  }

  .image-card {
    height: 100%; /* Atur tinggi gambar untuk layar kecil */
  }

  .text-title-card {
    font-size: 16px; /* Ukuran font judul lebih kecil */
  }

  .text-description-card {
    font-size: 12px; /* Ukuran font deskripsi lebih kecil */
  }

  /* form */
  .form-container {
    padding: 15px;
    transform: translateY(-200px);
  }

  .form-title h2 {
    font-size: 14px;
  }

  .form-container h2 {
    font-size: 14px;
  }

  .form-container label {
    font-size: 12px;
    font-weight: bold;
    padding-left: 10px;
    /* Sesuaikan ukuran font untuk mobile */
  }

  .checkbox-area {
    margin-bottom: 10px;
  }

  .checkbox-label {
    display: flex;
    align-items: center;
    margin: 5px 0;
  }

  .checkbox-group {
    display: flex;
    align-items: center;
  }

  .category-container {
    display: flex;
    flex-direction: column; /* Stack items vertically */
  }

  /* popup */
  .popup {
    display: block;
    /* Tampilkan popup pada layar kecil */
  }

  .popup-content {
    width: 90%;
    /* Atur lebar konten popup menjadi 90% dari lebar layar */
    max-width: 400px;
    /* Atur lebar maksimum */
    margin: auto;
    /* Pusatkan popup */
    padding: 10px;
    /* Tambahkan padding */
    background-color: #143021;
    /* Warna latar belakang */
    border-radius: 12px;
    /* Sudut melengkung */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    /* Tambahkan bayangan */
  }

  .popup img {
    width: 330px;
    /* Atur lebar gambar menjadi 300px */
    height: auto;
    /* Pertahankan rasio aspek gambar */
  }

  h2 {
    font-size: 16px;
  }

  h3 {
    font-size: 14px;
  }

  p {
    font-size: 12px;
  }

  #get-wet {
    order: 1; /* First item */
  }

  #jump-with-us {
    order: 2; /* Second item */
  }

  #kemitraan {
    order: 3; /* Third item */
  }

  #tentang-kami {
    order: 4; /* Fourth item */
  }

  .category-info p {
    /* Jarak antara setiap kategori */
    color: white;
    /* Ubah warna teks jika perlu */
    font-size: 12px;
    /* Sesuaikan ukuran font jika perlu */
  }

  .contact-info p {
    padding-left: 40px;
  }

  .operational-hours p,
  .government-info p,
  .find-us p {
    margin-left: 40px;
    margin-top: 0;
    /* Menghapus jarak atas p */
    margin-bottom: 5px;
    /* Mengurangi jarak bawah p */
  }
  .contact-info h3 {
    margin-left: 40px;
    margin-bottom: 5px;
  }

  .close-popup {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    font-size: 24px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    z-index: 10;
  }

  @media (max-width: 360px) {
    .header h1 {
      font-size: 24px;
      /* Adjust font size for smaller screens */
    }

    .container {
      width: 95%;
      height: auto;
    }

    .coverbackground-about img {
      margin-top: 10px;
    }

    .page-content {
      padding: 20px;
      min-height: calc(100vh - 40px); /* Adjust height to avoid overflow */
      justify-content: center;
      box-sizing: border-box; /* Include padding and border in the element's total width and height */
      overflow: hidden; /* Prevent overflow */
    }

    .features h1 {
      padding-left: 25.5px;
      font-size: 11px;
    }

    .features li {
      text-align: justify;
      font-size: 10px; /* Adjust the indentation */
    }

    h1 {
      font-size: 24px;
      /* Adjust font size for smaller screens */
    }

    .list {
      flex-direction: column; /* Ubah menjadi kolom pada layar sangat kecil */
      align-items: center;
      overflow: hidden;
    }

    .list-item {
      width: 95%; /* Lebar item lebih kecil pada layar sangat kecil */
    }

    .image-card {
      height: 100%; /* Atur tinggi gambar untuk layar sangat kecil */
    }

    .text-title-card {
      font-size: 14px; /* Ukuran font judul lebih kecil */
    }

    .text-description-card {
      font-size: 10px; /* Ukuran font deskripsi lebih kecil */
    }

    .form-container {
      padding: 10px;
      transform: translateY(-75px);
    }

    .form-title h2 {
      font-size: 14px;
    }

    .form-container h2 {
      font-size: 14px;
    }

    .form-container label {
      font-size: 12px;
      font-weight: bold;
      padding-left: 5px;
      /* Adjust font size for smaller screens */
    }

    .checkbox-area {
      margin-bottom: 10px;
    }

    .checkbox-label {
      display: flex;
      align-items: center;
      margin: 5px 0;
    }

    .checkbox-group {
      display: flex;
      align-items: center;
    }

    .popup-content {
      width: 95%;
      /* Set popup content width to 95% of screen width */
      max-width: 300px;
      /* Set max width */
      margin: auto;
      /* Center the popup */
      padding: 5px;
      /* Add padding */
      background-color: #143021;
      /* Background color */
      border-radius: 12px;
      /* Rounded corners */
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
      /* Add shadow */
    }

    .popup img {
      width: 280px;
      /* Set image width to 280px */
      height: auto;
      /* Maintain aspect ratio */
    }

    h2 {
      font-size: 14px;
    }

    h3 {
      font-size: 12px;
    }

    p {
      font-size: 10px;
    }

    .footer {
      padding-top: 30px;
    }

    .category-container {
      display: flex;
      flex-direction: column; /* Stack items vertically */
    }

    .category-info p {
      /* Jarak antara setiap kategori */
      color: white;
      /* Ubah warna teks jika perlu */
      font-size: 12px;
      /* Sesuaikan ukuran font jika perlu */
    }

    .contact-info p {
      font-weight: bold;
    }

    .operational-hours p,
    .government-info p,
    .find-us p {
      margin-left: 40px;
      margin-top: 0;
      /* Menghapus jarak atas p */
      margin-bottom: 5px;
      /* Mengurangi jarak bawah p */
    }

    .contact-info h3 {
      margin-left: 40px;
      margin-bottom: 5px;
    }

    .map {
      margin-left: 40px;
    }

    .close-popup {
      position: absolute;
      top: 10px;
      right: 10px;
      background: transparent;
      border: none;
      font-size: 24px;
      font-weight: bold;
      color: white;
      cursor: pointer;
      z-index: 10;
    }
  }
}
